<!DOCTYPE html>
<html lang="en">
 {{>main}}
 {{>navbar}}
 <style>
     .container{
         width: 70%;
     }
 </style>



<body>
    <div class="container">
    <h1>Product Page</h1>
    <hr>
    <form method="POST">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Choose Category</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name='category' default='product.category.name'>  
                <option selected>{{product.category.name}}</option>
        {{#each category}}

            <option   value="{{_id}}">{{name}}</option>
        {{/each}}
  </select>
    

    <div class="form-group">
        <input type="text" name='name' value={{product.name}} class="form-control"  placeholder="Create Product">
    </div>
    <button type="submit" class="btn btn-success">Save</button>
        
        
    </form>
    </div>
    <br>




</body>
</html>